<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :partner %>
    <%= f.collection_select :partner_id, @partners, :id, :name, prompt: "選択してください" %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.collection_select :genre_id, @genres, :id, :name, prompt: "選択してください" %>
  </div>
  <div class="form-group">
    <%= f.label :situation %>
    <%= f.collection_select :situation_id, @situations, :id, :name, prompt: "選択してください" %>
  </div>
  <div class="form-group">
    <%= f.label :partners_word %>
    <%= f.text_area :partners_word, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :word %>
    <%= f.text_area :word, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :episode %>
    <%= f.text_area :episode, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>