<div id="js-textarea-comment-box-<%= comment.id %>" style="display: none;">
  <textarea id="js-textarea-comment-<%= comment.id %>" class="form-control mb-1"><%= comment.body %></textarea>
  <button class="btn btn-light js-button-edit-comment-cancel" data-comment-id="<%= comment.id %>">キャンセル</button>
  <button class="btn btn-success js-button-comment-update" data-comment-id="<%= comment.id %>">更新</button>
</div>