<div class="card-deck">
  <div class="card mb-2 h-100 post-content">
    <div class="row g-0">
      <div class="col-md-4 p-md-2">
        <%= image_tag post.image_url, class: "img-fluid rounded m-4", size: "200x200" %>
      </div>
      <div class="col-md-8">
        <%= link_to post, class: "card-body", style: "text-decoration:none", data: { turbo_action: :advance } do %>
          <h2 class="card-text d-flex align-items-center justify-content-center my-4 balloon-post">
            <%= post.word %>
          </h2>
        <% end %>
        <div class="text-center" >
          # <%= post.partner.name %>&emsp;
          # <%= post.genre.name %>&emsp;
          # <%= post.situation.name %>
        </div>
        <div class="me-4", align="right">
          <% if current_user.own?(post) %>
            <%= render 'posts/crud_menus', post: post %>
          <% else %>
            <%= render 'posts/like_button', post: post  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
