<div class="card-deck">
  <div class="card mb-2 h-100">
    <div class="row g-0">
      <div class="col-md-4 p-md-2">
        <%= image_tag 'sample.jpg', class: "img-fluid rounded mt-3" %>
      </div>
      <div class="col-md-8">
        <%= link_to post, class: "card-body" do %>
          <h2 class="card-text d-flex align-items-center justify-content-center my-4 balloon-post">
            <%= post.word %>
          </h2>
          <%= post.partner.name %>
          <%= post.genre.name %>
          <%= post.situation.name %>
          <% if current_user.own?(post) %>
            <%= render 'crud_menus', post: post %>
          <% else %>
            <%= render 'like_button', post: post  %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
