<% content_for(:title, t('.title')) %>
<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-1">
      <%= @post.user.name %>さんの投稿
      <nav class="my-2 my-md-0 ms-auto">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
          コメント
        </button>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLongTitle" style="display: none;" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLongTitle">モーダルのタイトル</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
              </div>
              <div class="modal-body" style="max-height: 1500px; overflow-y: auto;">
                <%= render "modal_comment_form", comment: @comment %>
              </div>
            </div>
          </div>
        </div>
        <% if current_user.own?(@post) %>
          <%= link_to t('posts.edit.title'), edit_post_path(@post), class: "p-2 text-dark" %>
          <%= link_to t('posts.destroy.title'), post_path(@post), data: { "turbo-method": :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: "p-2 text-dark" %>
        <% end %>
      </nav>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-4 p-md-2">
      <%= image_tag 'sample.jpg', class: "img-fluid rounded mt-3" %>
    </div>
     <div class="col-md-8">
      <h2 class="card-text d-flex align-items-center justify-content-center my-4 balloon-show-left">
        <%= @post.partners_word %>
      </h2>
    </div>
    <div class="col-md-4 p-md-2">
      <%= image_tag 'sample.jpg', class: "img-fluid rounded mt-3" %>
    </div>
    <div class="col-md-8">
      <h2 class="card-text d-flex align-items-center justify-content-center my-4 balloon-show-right">
        <%= @post.word %>
        <%= @genre.name %>
      </h2>
    </div>
  </div>
</div>
