<% content_for(:title, t('.title')) %>
<div class="row g-0">
  <div class="col-xl-8 pe-2">
    <div class="card mb-2 h-100 post-show-content">
      <div class="card-header">
        <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-1">
          <%= @post.user.name %>さんの投稿
          <nav class="my-2 my-md-0 ms-auto">
            <% if current_user.own?(@post) %>
              <%= link_to edit_post_path(@post), class: "p-2 link" do %>
                <i class="fa-regular fa-pen-to-square fa-lg" style="color: #446878;"></i>
              <% end %>
              <%= link_to post_path(@post), data: { "turbo-method": :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: "p-2 link" do %>
                <i class="fa-solid fa-trash-can fa-lg" style="color: #446878;"></i>
              <% end %>
              <i class="fa-solid fa-heart fa-lg ms-2" style="color: #446878;"></i> <%= @post.likes.count %>
            <% else %>
              <%= render 'posts/like_button', post: @post  %>
            <% end %>
          </nav>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-sm-3 p-md-2">
          <%= image_tag 'post-default.jpg', class: "img-fluid rounded m-4", size: '200x200' %>
        </div>
        <div class="col-sm-9">
          <h2 class="card-text d-flex align-items-center justify-content-center my-4 balloon-show-left">
            <%= @post.partners_word %>
          </h2>
        </div>
        <div class="col-sm-3 p-md-2">
          <%= image_tag @post.image_url, class: "img-fluid rounded m-4", size: "200x200" %>
        </div>
        <div class="col-sm-9">
          <h2 class="card-text d-flex align-items-center justify-content-center my-4 balloon-show-right">
            <%= @post.word %>
          </h2>
        </div>
      </div>
      <div class="card-footer episode-content m-2">
        <h2 class="card-text d-flex align-items-center justify-content-center my-4">
          <%= @post.episode %>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-xl-4">
    <div class="card mb-2 h-100 post-comment-content">
      <div class="card-header">
        <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-1">
          コメント一覧
        </div>
      </div>
      <div class="row g-0 pt-2 comment-index-content">
        <%= render 'comments/comments', { comments: @comments } %>
      </div>
      <div class="row g-0 pt-2">
        <%= render 'comments/form', { post: @post, comment: @comment } %>
      </div>
    </div>
  </div>
</div>
